@use '../../scss/variables';
@use '../../scss/mixins';

.Grid {
  display: flex;
  flex-direction: column;
  gap: variables.$gap;

  @include mixins.onTablet {
    gap: variables.$tablet-gap;
  }
}

.GridRow {
  display: flex;
  gap: variables.$gap;

  @include mixins.onTablet {
    gap: variables.$tablet-gap;
  }
}

.GridCell {
  @include mixins.cell;
}
