@use "sass:string";

@use '../../utils/variables';
@use '../../utils/mixins';
@use '../../utils/animations';

.Cell {
  @include mixins.cell;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  color: variables.$white-text-color;

  transition-property: top, left;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;

  &_new {
    animation: appear 200ms ease 100ms;
    animation-fill-mode: backwards;
  }

  &_merged {
    z-index: 20;
    animation: pop 200ms ease 100ms;
    animation-fill-mode: backwards;
  }

  @each $cell, $color in variables.$cells {
    &_#{$cell} {
      background: $color;

      @if $cell != "super" and $cell < 8 {
        color: variables.$dark-text-color;
      }

      &::after {
        content: string.quote(#{$cell});
      }
    }
  }

  @for $i from 1 through 4 {
    @for $j from 1 through 4 {
      &_#{$i}_#{$j} {
        top: (variables.$cell-size + variables.$gap) * ($j - 1);
        left: (variables.$cell-size + variables.$gap) * ($i - 1);
      }
    }
  }
}

