@use '../../utils/variables';

.Field {
  position: relative;

  background: variables.$bg-color;
  border-spacing: 10px;
  border-radius: variables.$field-border-radius;
  padding: 15px;
}

.Cells {
  &-Container {
    position: absolute;
    top: variables.$gap;
    bottom: variables.$gap;
    left: variables.$gap;
    right: variables.$gap;
  }
}
