@use '../../styles/utils/variables';

.Button {
  padding: 16px;

  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: variables.$white-text-color;

  border: none;
  border-radius: 5px;
  background: #8f7a66;

  cursor: pointer;
  transition: 0.25s ease background;
}
