.FieldCell {
  background: #d6cdc4;
  width: 75px;
  height: 75px;
  border-radius: 5px;
  color: #776e65;
  box-sizing: border-box;
  text-align: center;
  vertical-align: center;
  user-select: none;

  &_2 {
    background: #eee4da;
  }

  &_4 {
    background: #ede0c8;
  }

  &_8 {
    background: #f2b179;
    color: #f9f6f2;
  }

  &_16 {
    background: #f59563;
    color: #f9f6f2;
  }

  &_32 {
    background: #f67c5f;
    color: #f9f6f2;
  }

  &_64 {
    background: #f65e3b;
    color: #f9f6f2;
  }

  &_128 {
    background: #edcf72;
    color: #f9f6f2;
  }

  &_256 {
    background: #edcc61;
    color: #f9f6f2;
  }

  &_512 {
    background: #edc850;
    color: #f9f6f2;
  }

  &_1024 {
    background: #edc53f;
    color: #f9f6f2;
  }

  &_2048 {
    background: #edc22e;
    color: #f9f6f2;
  }
}

.Field {
  background: #bbada0;
  border-spacing: 10px;
  border-radius: 5px;
}
