@use '../../scss/variables';
@use '../../scss/mixins';

.Header {
  display: flex;
  gap: variables.$gap;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: variables.$gap;

  @include mixins.onTablet {
    gap: variables.$tablet-gap;
    padding: variables.$tablet-gap;
  }

  &-Heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-Name {
    font-size: 3.4rem;

    @include mixins.onTablet {
      font-size: 4rem;
    }
  }

  &-Controls {
    display: flex;
    justify-content: flex-end;
  }

  &-Info {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }
}
