.Header {
  display: flex;
  margin-bottom: 24px;
  padding: 10px;
  width: 100%;
  justify-content: space-between;

  &-Name {
    font-size: 80px;
  }

  &-Controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &-Info {
    display: flex;
    padding: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #f9f6f2;
    font-size: 16px;

    background: #bbada0;
    border-radius: 5px;
  }
}
