@use '../../scss/variables';
@use '../../scss/mixins';

.Field {
  position: relative;

  background: variables.$board-background-color;
  border-radius: variables.$field-border-radius;
  padding: variables.$gap;

  @include mixins.onTablet {
    padding: variables.$tablet-gap;
  }
}

.Cells {
  &-Container {
    position: absolute;
    top: variables.$gap;
    bottom: variables.$gap;
    left: variables.$gap;
    right: variables.$gap;

    @include mixins.onTablet {
      left: variables.$tablet-gap;
      top: variables.$tablet-gap;
      right: variables.$tablet-gap;
      bottom: variables.$tablet-gap;
    }
  }
}
