@use '../../styles/utils/variables';
@use '../../styles/utils/mixins';

.Message {
  font-size: 2rem;
  color: variables.$white-text-color;

  &-Container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: variables.$field-border-radius;

    &_won {
      @include mixins.animation(message-appear, 1s, 1s);

      background-color: rgba(237, 194, 46, 0.4);
    }

    &_lost {
      @include mixins.animation(message-appear, 1s, 1s);

      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
