@use 'src/utils/variables';

.Message {
  font-size: 2rem;
  color: #f9f6f2;

  &-Container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: variables.$field-border-radius;

    &_won {
      background-color: rgba(237, 194, 46, 0.4);
    }

    &_lost {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
